.navbar {
    width: 100%;
    height: 7vh;
    background-color: #101010;
    display: flex;
    align-items: center;
    justify-content: space-between;
    outline: 1px solid #6200ee;
    outline-offset: -2px;
}

.navbar h1 {
    color: white;
    font-size: 25px;
    margin-left: 20px;
    
}

.input {
    border: none;
    width: 80%;
    margin: 10px;
    padding: 10px;
    background-color: inherit;
    color: #dddddd;
    outline: 1px solid #6200ee;
    outline-offset: -1px;
    font-size: 14px;
}

.logout{
    margin-right: 20px;
}

.search{
    flex-direction: row;
}

.error_msg {
    width: 30%;
    padding: 5px;
    margin: 5px 0;
    height: 100%;
    font-size: 14px;
    background-color: #f34646;
    color: white;
    border-radius: 5px;
    text-align: center;
}

button {
    border: none;
    outline: 1px solid #6200ee;
    color: #dddddd;
    padding: 5px;
    background-color: inherit;
    width: 80px;
    font-size: 14px;
    margin: 5px;
}

button:hover {
    cursor: pointer;
    background-color: #6200ee;
    color: white;
}

h1:hover{
    cursor: pointer;    
}

.profile_container{
    width: 100%;
    height: 40vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profile_sub{
    width: 85%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  
}

.username{
    text-align: center;
    margin: 20px;
    color: white;
    font-size: 2vw;
}

.sub_container{
    margin: 20px;
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

.profile_pic > img{
    width: 10vw;
    border-radius: 10em;
    margin: 20px;
}

.icon_frame_left{
    margin-right: -12%;
    z-index: 1;
    width: 35%;
    border-radius: 100%;
    background-color: #6200ee;
    outline: 1px solid black;
    outline-offset: -4px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon_frame_right{
    margin-left: -12%;
    z-index: 1;
    width: 35%;
    border-radius: 100%;
    background-color: #6200ee;
    outline: 1px solid black;
    outline-offset: -4px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon_frame_right > img{
    width: 100%;
}

.icon_frame_left>img {
    width: 100%;
}

.text_container{
    color: white;
    font-weight: bold;
    background-color: #6200ee;
    outline: 1px solid black;
    outline-offset: -4px;
    border-radius: 80px;
    height: 20%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 5%;
    align-items: center;
    font-size: 1vw;
    
}



