.container {
    width: 100%;
    height: 80vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login_container {
    border: 1px solid white;
    width: 50%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    outline: 1px solid #6200ee;
    outline-offset: -10px;
    align-items: center;
    
}




form{
    color:#dddddd;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.input {
   border: none;
    width: 80%;
    margin: 10px;
    padding: 10px;
    background-color: inherit;
    color: #dddddd;
    outline: 1px solid #6200ee;
    outline-offset: -1px;
    font-size: 14px;
}

.error_msg {
    width: 30%;
    padding: 15px;
    margin: 5px 0;
    font-size: 14px;
    background-color: #f34646;
    color: white;
    border-radius: 5px;
    text-align: center;
}



img{
    width: 100px;

}

h3{
    color: #dddddd;
    font-size: 20px;
    margin-top: 10px;
}
h2 {
    color: white;
    font-size: 20px;
    margin-left: 20px;
}
.spotifyContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 50px;
    background: black;
    position: relative;
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 13px;
    cursor: pointer;
    margin: 10px;
} 

.spotifyContainer:hover{
    background: #6200ee;
}

.spotifyContainer:active {
    background: #6200ee;
}

.spotifyContainer img {
    width: 12.5%;
    height: 100%;
    object-fit: contain;
    left: 10px;
    border-radius: 3px;
    position: absolute;
}